<li>{{burger_name}}
	<span class="buttons">
		<button class="change-state" data-id="{{this.id}}" data-state="{{devoured}}">
			{{#if devoured}}Uneat!?{{else}}Devour!{{/if}}
		</button>
		<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
	</span>
</li>